
format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$all\
$status\
$cmd_duration\
$line_break\
${custom.inside_docker}\
$character"""

add_newline = true
command_timeout = 500


[custom.inside_docker]
disabled = false
command = """echo "  (${HOSTNAME:0:5})" """
when = """ test "$($HOME/.config/scripts/is_inside_docker.sh)" = "1" """
style = "blue"

[hostname]
ssh_symbol = " "
format = '[$ssh_symbol](bold green)'
disabled = true

[character]
success_symbol = "[❯](bold purple)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold green)"

[directory]
read_only = " 󰌾"
format = "[$path]($style)[$read_only]($read_only_style) "
style = "blue"

[status]
format = "[$symbol](fg:$style) "
success_symbol = ""
symbol = ""
disabled = false

[username]
disabled = true

[docker_context]
format = 'via [  $context](bold)'
disabled = false

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](purple) ($ahead_behind$stashed)]($style) "
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡ "

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
min_time = 500
format = "[$duration]($style) "
style = "yellow"

# [status]
# disabled = true

[aws]
symbol = "  "
format = '[$symbol($version)($style) '

[buf]
symbol = " "
format = '$symbol($version)($style) '

[c]
symbol = " "
format = '$symbol($version)($style) '

[conda]
symbol = " "
format = '$symbol($version)($style) '

[crystal]
symbol = " "
format = '$symbol($version)($style) '

[dart]
symbol = " "
format = '$symbol($version)($style) '

[elixir]
symbol = " "
format = '$symbol($version)($style) '

[elm]
symbol = " "
format = '$symbol($version)($style) '

[fennel]
symbol = " "
format = '$symbol($version)($style) '

[fossil_branch]
symbol = " "
format = '$symbol($version)($style) '

[golang]
symbol = " "
format = '$symbol($version)($style) '

[guix_shell]
symbol = " "
format = '$symbol($version)($style) '

[haskell]
symbol = " "
format = '$symbol($version)($style) '

[haxe]
symbol = " "
format = '$symbol($version)($style) '

[hg_branch]
symbol = " "
format = '$symbol($version)($style) '


[java]
symbol = " "
format = '$symbol($version)($style) '

[julia]
symbol = " "
format = '$symbol($version)($style) '

[kotlin]
symbol = " "
format = '$symbol($version)($style) '

[lua]
symbol = " "
format = '$symbol($version)($style) '

[memory_usage]
symbol = "󰍛 "
format = '$symbol($version)($style) '

[meson]
symbol = "󰔷 "
format = '$symbol($version)($style) '

[nim]
symbol = "󰆥 "
format = '$symbol($version)($style) '

[nix_shell]
symbol = " "
format = '$symbol($version)($style) '

[nodejs]
symbol = " "
format = '$symbol($version)($style) '

[ocaml]
symbol = " "
format = '$symbol($version)($style) '

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "
format = '$symbol($version)($style) '

[perl]
symbol = " "
format = '$symbol($version)($style) '

[php]
symbol = " "
format = '$symbol($version)($style) '

[pijul_channel]
symbol = " "
format = '$symbol($version)($style) '

[python]
symbol = " "
style = "yellow"
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\))]($style) '
pyenv_version_name = false

[rlang]
symbol = "󰟔 "
format = '$virtualenv $symbol($version)($style) '

[ruby]
symbol = " "
format = '$symbol($version)($style) '

[rust]
symbol = "󱘗 "
format = '$symbol($version)($style) '

[scala]
symbol = " "
format = '$symbol($version)($style) '

[swift]
symbol = " "
format = '$symbol($version)($style) '

[zig]
symbol = " "
format = '$symbol($version)($style) '
